$black: #2C3E50;
$white: #f9f9f9;
$grey: darken(#f0f0f0, 50%);
$lightgrey: #f0f0f0;
$red: red;
$green: #14978a;
$blue: #224983;
$orange: orange;

///

$body_background_color: $white;
$body_background_image: none;

$headline-font: "Arial Black", Gadget, sans-serif;
$headline-weight: 700;

$body-font: 'Antic Slab', serif;
$body-weight: 300;
$body-text-color: $black;
